*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
   html{
 /* variaveis */
 --bg-color:#EDF2FF;
 --text-color:#00082F; 
 --primary-color: #4263EB;
 --primary-color-dark: #364FC7; 
 }
 
 body.dark {
   --bg-color:#00082F;
   --text-color: #FFFFFF; 
 }
  
  body{
   background: var(--bg-color);
   color: var(--text-color);
   font-family: 'Roboto', sans-serif;
  }
  .container {
    text-align: center;
    margin: 60px auto;
    width: 300px;
  }
  img { 
    width: 100%;
 }
 img.logo {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   border: var(--primary-color) solid 4px;
   padding: 3.7px;
 }
 h1{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
 .username{
   font-family: 'Roboto Mono', monospace;
   font-weight: 400;
   opacity: 0.8;
   font-size: 18px;
 }
 p{ 
    margin-bottom: 24px
 }
 ul{
   list-style: none;
   margin-top: 48px 0;
 }
  ul li a{ 
    height: 53px;
    display: flex;
    align-items: center;
   justify-content: center;
   background-color: #4263EB;
   color: white;
   text-transform: uppercase;
   margin-bottom: 16px;
   border-radius: 6px;
   transition: background 400ms;
  }
  
  ul li a:hover {
    background: #00082F; 
  }
  
  footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  footer:hover {
    opacity: 1;
  }
  footer a{
    color: #00082F;
  }